<header class="border-b border-gray-100 mt-3">
    <nav class="flex items-center justify-between h-16 mx-auto max-w-screen-2xl sm:px-6 lg:px-10 pl-3 pb-5 pt-5 bg-gray-600 rounded-t">
      <div class="flex items-center">
        <a href="/home" title="Blazed Publishing" class="flex md:pl-3 hover:opacity-75">
          <img src="https://blazed.sirv.com/logo/Beaker-Gray.png?w=45&h=45">
        </a>
      </div>
  
      <div class="flex items-center justify-end flex-1">
        <div class="hidden lg:uppercase lg:text-gray-500 lg:tracking-wide lg:font-bold lg:text-xs lg:space-x-4 lg:flex">
          <app-nav></app-nav>
        </div>
        
        <div class="flex items-center ml-8 border-gray-500 border-l">
          <button (click)="burgerVisible = !burgerVisible" type="button" class="p-2 pr-5 pl-5 lg:hidden burger-button">
            <ng-container *ngIf="burgerVisible">
              <svg class="w-6 h-6" width="45" height="45" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.646 5.646a.5.5 0 000 .708l8 8a.5.5 0 00.708-.708l-8-8a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M14.354 5.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"/>
              </svg>
            </ng-container>
            <ng-container *ngIf="!burgerVisible">
              <svg class="w-6 h-6" width="45" height="45" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.5 13.5A.5.5 0 015 13h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 9h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 5h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
              </svg>
            </ng-container>
          </button>
        </div>
      </div>
    </nav>
    <div class="header-nav-mobile absolute w-full bg-gray-600 shadow-md">
      <ng-container *ngIf="burgerVisible">
        <app-nav></app-nav>
      </ng-container>
    </div>
  </header>