<section class="bg-gray-100 text-gray-800 mt-5">
	<div class="container max-w-6xl p-6 mx-auto space-y-6 sm:space-y-12">
		<div class="grid justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
			<ng-container *ngFor="let issue of issues$ | async">
				<a rel="noopener noreferrer" href="/view?type=journal&id={{ issue._id }}" class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-gray-50">
					<img role="presentation" [src]="issue.cover | sanityImage:700" class="object-cover w-full rounded h-100 bg-gray-500" >
					<div class="p-6 space-y-2">
						<h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">
							{{ issue.title }}
						</h3>
						<span class="text-xs text-gray-600">
							{{ issue.publishedAt | formatDate }}
						</span>
						<p>
							<span>
								Published In: 
							</span>
							<span class="font-bold">
								{{ issue.press.title }}
							</span>
							<br />
							<span>
								Written By:
							</span>
							<span class="font-bold">
								{{ issue.author.name }}
							</span>
						</p>
					</div>
				</a>
			</ng-container>
		</div>
		<div class="flex justify-center">
			<button type="button" class="px-6 py-3 text-sm rounded-md hover:underline bg-gray-50 text-gray-600">Load more posts...</button>
		</div>
	</div>
</section>