<div class="flex lg:space-x-5 header-nav-menu">
    <a routerLink="/home" routerLinkActive="is-active" class="lg:pl-2 pr-2 block h-16 leading-[4rem] border-b-4 border-transparent hover:border-current">
        Home
    </a>
    <a routerLink="/blogs" routerLinkActive="is-active" class="block h-16 leading-[4rem] border-b-4 border-transparent hover:border-current">
        Blogs
    </a>
    <a routerLink="/books" routerLinkActive="is-active" class="block h-16 leading-[4rem] border-b-4 border-transparent hover:border-current">
        Books
    </a>
    <a href="/periodicals?type=magazines" routerLinkActive="is-active" class="block h-16 leading-[4rem] border-b-4 border-transparent hover:border-current">
        Magazines
    </a>
    <a href="/periodicals?type=newspapers" routerLinkActive="is-active" class="block h-16 leading-[4rem] border-b-4 border-transparent hover:border-current">
        Newspapers
    </a>
    <a href="/periodicals?type=journals" routerLinkActive="is-active" class="block h-16 leading-[4rem] border-b-4 border-transparent hover:border-current">
        Journals
    </a>
</div>