<div class="flex lg:space-x-5 header-nav-menu">
    <a routerLink="/home" routerLinkActive="is-active" class="lg:pl-2 lg:pr-2 block h-16 leading-[4rem] border-b-4 border-transparent hover:border-current">
        Home
    </a>
    <a routerLink="/about" routerLinkActive="is-active" class="block h-16 leading-[4rem] border-b-4 border-transparent hover:border-current">
        About
    </a>
    <a routerLink="/blogs" routerLinkActive="is-active" class="block h-16 leading-[4rem] border-b-4 border-transparent hover:border-current">
        Blogs
    </a>
    <a routerLink="/books" routerLinkActive="is-active" class="block h-16 leading-[4rem] border-b-4 border-transparent hover:border-current">
        Books
    </a>
    <a routerLink="/periodicals" routerLinkActive="is-active" class="block h-16 leading-[4rem] border-b-4 border-transparent hover:border-current" id="menu-button" aria-expanded="false" aria-haspopup="true">
        Periodicals
    </a>
</div>