<ng-container *ngIf="id">
	<article class="max-w-2xl px-6 py-14 mx-auto space-y-12 bg-coolGray-100 text-coolGray-900">
		<div>
			<app-post [type]="type" [postId]="id"></app-post>
		</div>
		<div class="text-center">
			<p class="pb-3">
				Share this article:
			</p>
			<div class="addthis_inline_share_toolbox"></div>
		</div>
		<div *ngIf="type == 'blog'">
			<app-comments [page]="id"></app-comments>
		</div>
	</article>
</ng-container>
<ng-container *ngIf="!id">
	<!--
		404: Document not found.
	-->
	<app-unknown></app-unknown>
</ng-container>