<article class="px-5 py-10 bg-gray-100 text-gray-800">
	<div class="container grid grid-cols-12 mx-auto gap-y-6 md:gap-10">
		<div class="flex flex-col justify-between col-span-12 py-2 space-y-8 md:space-y-16 lg:col-span-3">
			<div class="flex flex-col space-y-8 md:space-y-12">
				<div class="flex flex-col space-y-2">
					<h3 class="flex items-center space-x-2 text-gray-600">
						<span class="flex-shrink-0 w-2 h-2 uppercase rounded-full bg-blue-600"></span>
						<span class="text-xs font-bold tracking-wider uppercase">
                            Latest Journal
                        </span>
					</h3>
					<ng-container *ngFor="let journal of journalIssue$ | async">
						<a rel="noopener noreferrer" title="Published on: {{ journal.publishedAt | formatDate }}" href="/view?type=journal&id={{ journal._id }}" class="font-serif hover:underline">
							{{ journal.title }}
						</a>
						<p class="text-xs text-gray-600">
							Written by
							<span>
								{{ journal.author.name }}
							</span>
							in
							<span>
								{{ journal.press.title }}
							</span>
						</p>
					</ng-container>
				</div>
				<div class="flex flex-col space-y-2">
					<h3 class="flex items-center space-x-2 text-gray-600">
						<span class="flex-shrink-0 w-2 h-2 uppercase rounded-full bg-blue-600"></span>
						<span class="text-xs font-bold tracking-wider uppercase">
                            Latest Newspaper
                        </span>
					</h3>
					<ng-container *ngFor="let newspaper of newspaperIssue$ | async">
						<a rel="noopener noreferrer" title="Published on: {{ newspaper.publishedAt | formatDate }}" href="/view?type=newspaper&id={{ newspaper._id }}" class="font-serif hover:underline">
							{{ newspaper.title }}
						</a>
						<p class="text-xs text-gray-600">
							Written by
							<span>
								{{ newspaper.author.name }}
							</span>
							in
							<span>
								{{ newspaper.press.title }}
							</span>
						</p>
					</ng-container>
				</div>
				<div class="flex flex-col space-y-2">
					<h3 class="flex items-center space-x-2 text-gray-600">
						<span class="flex-shrink-0 w-2 h-2 uppercase rounded-full bg-blue-600"></span>
						<span class="text-xs font-bold tracking-wider uppercase">
                            Latest Magazine
                        </span>
					</h3>
					<ng-container *ngFor="let magazine of magazineIssue$ | async">
						<a rel="noopener noreferrer" title="Published on: {{ magazine.publishedAt | formatDate }}" href="/view?type=magazine&id={{ magazine._id }}" class="font-serif hover:underline">
							{{ magazine.title }}
						</a>
						<p class="text-xs text-gray-600">
							Written by
							<span>
								{{ magazine.author.name }}
							</span>
							in
							<span>
								{{ magazine.press.title }}
							</span>
						</p>
					</ng-container>
				</div><!---->
			</div>
			<div class="flex flex-col w-full space-y-2">
				<div class="flex w-full h-1 bg-opacity-10 bg-blue-600">
					<div class="w-1/2 h-full bg-blue-600"></div>
				</div>
				<a rel="noopener noreferrer" href="/periodicals" class="flex items-center justify-between w-full">
					<span class="text-xs font-bold tracking-wider uppercase">
						See more Periodicals
					</span>
					<svg viewBox="0 0 24 24" stroke-width="2.5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4 stroke-current text-blue-600">
						<line x1="5" y1="12" x2="19" y2="12"></line>
						<polyline points="12 5 19 12 12 19"></polyline>
					</svg>
				</a>
			</div>
		</div>
		<div class="hidden relative lg:flex col-span-12 bg-center bg-no-repeat bg-cover bg-gray-500 xl:col-span-6 lg:col-span-5 md:col-span-9 min-h-96" style="background-image: url('https://blazed.sirv.com/logo/Wallpaper-Beaker.png?w=1000&h=1000');">
			<a class="flex" href="/books">
				<div class="flex flex-col items-center justify-end p-6 text-center sm:p-8 group via-transparent flex-grow-1 bg-gradient-to-b from-gray-900 to-gray-900 hover:opacity-75">
					<h1 rel="noopener noreferrer" href="/books" class="font-serif text-4xl font-semibold group-hover:underline text-white">
						Discover Our Book Selection
					</h1>
				</div>
			</a>
		</div>
		<div class="py-2 xl:col-span-3 lg:col-span-4 col-span-12 lg:block">
			<div class="mb-8 space-x-5 border-b-2 border-opacity-10 border-blue-600">
				<h2 class="text-xl pb-3 border-b-2 border-blue-400">
					Lastest Blog Posts
				</h2>
			</div>
			<div class="flex flex-col divide-y divide-gray-300">
				<ng-container *ngFor="let post of posts$ | async">
					<div class="flex px-1 py-4">
						<img alt="" class="flex-shrink-0 object-cover w-20 h-20 mr-4 bg-gray-500" [src]="post.author.image | sanityImage:200">
						<div class="flex flex-col flex-grow">
							<a rel="noopener noreferrer" href="/view?id={{post._id}}" class="font-serif hover:underline">
								{{ post.title }}
							</a>
							<p class="text-xs text-gray-600">
								By: {{ post.author.name }}
							</p>
							<p class="mt-auto text-xs text-gray-600">
								<time class="text-sm text-gray-600">
									{{ post.publishedAt | formatDate }}
								</time>
								<span class="block text-gray-400 lg:ml-2 lg:inline">
									#{{ post.category.title }}
								</span>
							</p>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</article>
